.card-custom {
    height: 22vh;
    overflow: hidden;
}

.caption-center {
    color: black;
    text-align: center;
}

body {
    background-color: navy;
    background-size: cover;
    color: #fff;
}

.card-img-top {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.modal-body {
    padding: 0rem !important;
}

footer {
    margin-bottom: 0 !important;
}

.card-row-wrapper {
    overflow: hidden;
}

@media (max-width: 768px) {
    body {
        background-image: url("/IFC-IOR/static/img/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .card {
        margin: auto;
        width: 75%;
        height: auto;
    }
}

body {
    background-image: url("/IFC-IOR/static/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.slider:hover {
    animation-play-state: paused;
}

.slider {
    display: inline-flex;
    animation: 25s slide infinite linear;
    position: relative;
}

.card {
    width: 20rem;
    border-radius: 0;
    flex: 0 0 25rem;
}

body {
    overflow-x: hidden;
}